HEDERA_PRIVATE_KEY=        # accepts ED25519 and ECDSA private keys both DER and HEX encoded
HEDERA_ACCOUNT_ID=         # ex.0.0.5392887
HEDERA_NETWORK_TYPE=       # 'mainnet', 'testnet' or 'previewnet'
HEDERA_KEY_TYPE=           # 'ECDSA' or 'ED25519'
