HEDERA_PRIVATE_KEY=        # accepts ED25519 and ECDSA private keys both DER and HEX encoded 
                           # use account that has max_automatic_token_associations set to 0 to test 
                           # "claim_airdrop", "claim_airdrop" 
HEDERA_ACCOUNT_ID=         # ex.0.0.5392887
HEDERA_NETWORK_TYPE=       # 'mainnet', 'testnet' or 'previewnet'
HEDERA_KEY_TYPE=           # 'ECDSA' or 'ED25519'

# defaults for ElizaOS
ELIZAOS_REST_HOSTNAME=localhost
ELIZAOS_REST_PORT=3000